@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&family=Raleway:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');
:root {
    --primary-color: #F4694C;
    --secondary-color: #FBC3B7;
    --unit: 1rem;
    --gold: #EA9459;

}
body {
    margin: 0 ;
    font-family: "Raleway";
    font-weight: 500;
}
a {
    text-decoration: none;
    color: #fff;
}
h3, legend {
    font-size: 40px;
    margin: 34px 0;
}
h5 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #333333;
}
fieldset {
    border: 3px solid var(--primary-color);
    align-items: center;
}
legend {
    display: inline-block;
    padding: 0px 25px;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 60px;
    margin: 0;
    text-align: center;
}
p {
    margin: 0;
}
h4 {
    font-size: 30px;
}
button {
    padding: 15px 25px;
    font-size: 16px;
    border: 2px solid #fff;
    border-radius: 9px;
    background-color: var(--primary-color);
    color: #fff;
}
nav {
    padding-left: 228px;
    padding-right: 82px;
    padding-bottom: 14px;
}
.span {
    width: 20px;
    height: 20px;
    background-color: #c4c4c4;
    border-radius: 50%;
}
.bgc- {
    background-color: #071C35;

}
.ta-left {
    text-align: left;
}
.t-100 {
    top: calc(100% - 10px);
}
.p0-50px {
    padding: 0 50px;
}
.d-f {
    display: flex;
}
.d-f.g-76px {
    gap: 76px;
}
.d-f.g-63px {
    gap: 63px;
}
.d-f.g-57px {
    gap: 57px;
}
.d-f.g-8px {
    gap: 8px;
}
.d-f.g-10px {
    gap: 10px;
}
.d-f.g-40px {
    gap: 40px;
}
.d-f.g-4px {
    gap: 4px;
}
.d-f.g-24px {
    gap: 24px;
}
.d-f.g-48px {
    gap: 48px;
}
.d-f.g-163px {
    gap: 163px;
}
.d-f.g-260px {
    gap: 260px;
}
.d-f.fd-column {
    flex-direction: column;
}
.bgc-primary-color {
    background-color: var(--primary-color);
}
.bgc-secondary-color {
    background-color: var(--secondary-color);
}
.bgc-white {
    background-color: #fff;
}
.bgi-1 {
    background-image: url("../images/Rectangle 840.png");
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.bgi-2 {
    background-image: url("../images/Фон изначальный.png");
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.fz-30px {
    font-size: 30px;
}
.ta-center {
    text-align: center;
}
.m-t-175px {
    margin-top: 175px;
}
.m-t-100px {
    margin-top: 100px;
}
.m-t-107px {
    margin-top: 107px;
}
.m-t-135px {
    margin-top: 135px;
}
.m-t-52px {
    margin-top: 52px;
}
.m-8px-16px {
    margin: 8px 16px;
}
.bdrs-9px {
    border-radius: 9px;
}
.bdrs-16px {
    border-radius: 16px;
}
.bdrs-4px {
    border-radius: 4px;
}
.p-40px-20px {
    padding: 20px 40px;
}
.p-22px-20px {
    padding: 22px 20px;
}
.p-0-0-94px {
    padding: 0 0 94px;
}
.mr-31px {
    margin-right: 31px;
}
.mt-84px {
    margin-top: 84px;
}
.mt-76px {
    margin-top: 76px;
}
.ai-flex-start {
    align-items: flex-start;
}
.ai-center {
    align-items: center;
}
.ml-21px {
    margin-left: 21px;
}
.mb-52px {
    margin-bottom: 82px;
}
.fz-24px {
    font-size: 24px;
}
.fz-20px {
    font-size: 20px;
}
.jc-cb {
    justify-content: space-between;
}
.jc-c {
    justify-content: center;
}
.c-white {
    color: #fff;
}
.c-black {
    color: #000;
}
.pt-303px {
    padding-top: 303px;
}
.p-14px {
    padding: 14px;
}
.w-40px {
    width: 40px;
}
.h-40px {
    height: 40px;
}
.w-18px {
    width: 18px;
}
.h-18px {
    height: 18px;
}
.container {
    box-shadow: 10px 32px 72px rgba(51, 51, 51, 0.05);
    border-radius: 9px;
}
.containerp {
    font-style: italic;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}
.c-999 {
    color: #999999;
}
.p-24px-24px-15px {
    padding: 24px 24px 15px;
}
.p-32px-0-78px-141px {
    padding: 32px 0 78px 141px;
}
.p-35px-48px-63px-101px {
    padding: 48px 101px 63px 35px;
}
.fz-12px {
    font-size: 12px;
}
.c-gold {
    color: var(--gold);
}
.w-170px {
    width: 170px;
}
.pos-rel {
    position: relative;
}
.pos-abs {
    position: absolute;
}
.z-1 {
    z-index: 1;
}
#point {
    width: 42px;
    height: 48px;
}
.fz-20px {
    font-size: 20px;
}
.m-t-153px {
    margin-top: 153px;
}
.b {
    border: 3px solid #F4694C;
}
.trft1 {
    transform: translate(30%, -10%);
}
.trft2 {
    transform: translate(-75%, 10%);
}
.p-5px-7px {
    padding: 5px 7px;
}
.p-0-0-97px {
     padding: 0 0 97px;
 }
.mr-67px {
    margin-right: 67px;
}
.span2 {
    width: 91px;
    height: 78px;
}
.span3 {
    width: 100%;
    height: 17px;
    top: calc(100% - 17px);
}
